body {
  margin: 0;
}
.header {
  background-color: #3498db;
  color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  background-image: url("../../assets/download.png");
  background-repeat: no-repeat;
  width: 10%;
  height: 6rem;
  background-size: contain;
  margin-left: 3rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.25rem;
}

.nav-links li {
  padding: 0.625rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  padding-left: 2rem;
}

.user-actions {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  padding-right: 6rem;
}
.user-actions button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 0.9375rem;
  cursor: pointer;
}

.chat-room {
  margin-left: auto;
}
.nav-links {
  font-size: 2rem;
  // &:hover {
  //   text-decoration: underline;
  // }
}

.nav__link-item {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.auth-link {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;

  &:hover {
    text-decoration: underline;
  }
}

/* Media Query for responsiveness */
@media (max-width: 48rem) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    margin-top: 0.625rem;
  }
}
